extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    p
      a(href='/mortality') Mortality (Survey)
    p
      a(href='/mortality_births_deaths') Mortality Births and Deaths (Survey)
    p
      a(href='bristol_wards_map') Bristol Wards Map Data